.body {
   background-color: #282c34;
   height: 1050px;
}
h1,
p,
h4 {
   color: #61dafb;
}
p {
   font-size: 150px;
}

.dartboard {
   height: 300px;
   width: 300px;
}
.player-one {
   color: yellowgreen;
   margin-bottom: 90px;
   background-color: #282c34;
   border: 1px solid #61dafb;
   width: 50%;
}
.player-two {
   color: yellowgreen;
   margin-bottom: 90px;
   background-color: #282c34;
   border: 1px solid #61dafb;
   width: 50%;
}
.loser-page-title {
   margin-top: 200px;
   margin-bottom: 50px;
}

.home-page-title {
   margin-top: 80px;
}
.drink-name {
   font-size: 125px;
}
